html,
body {
	height: 100%;
	box-sizing: border-box;
	background-color: #10100f;
}

body {
	margin: 0;
}

* {
	box-sizing: inherit;
}

#root {
	color: aliceblue;
	display: flex;
	flex-direction: column;
	align-items: center;
}
