.Game {
    display: flex;
    justify-content: center; /* Horizontally center the container */
    align-items: center; /* Vertically center the container */
    border: 2px solid white;
    border-radius: 15px;
    height: 80vh;
    width: 75vw;
    transition: background-color 0.5s ease-out;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 0.5rem;
}

.card {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card:hover {
    cursor: pointer;
}

.Information {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 25vw;
    font-size: 1.5rem;
}

.Game.lost {
    animation: shake 0.4s linear;
    background-color: rgb(78, 0, 0);
}

.Game.won {
    animation: shake 0.4s linear;
    background-color: rgb(0, 102, 12);
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5px, 5px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}
